{% extends 'base.html' %}
{% load i18n %}

{% block header %}{% translate 'Labels' %}{% endblock %}

{% block content %}
<a class="btn btn-primary" href="{% url 'label_create' %}">{% translate 'Create label' %}</a>
<table class="table">
    <thead>
    <tr>
        <th>{% translate 'ID' %}</th>
        <th>{% translate 'Name' %}</th>
        <th>{% translate 'Date and time of creation' %}</th>
        <th>{% translate 'Manage' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for label in labels %}
    <tr>
        <th scope="row">{{ label.id }}</th>
        <td>{{ label.name }}</td>
        <td>{{ label.created }}</td>
        <td>
          <a href="{% url 'label_update' label.id %}" class="btn btn-primary btn-sm">{% translate 'Update' %}</a>
            <a href="{% url 'label_delete' label.id %}" class="btn btn-danger btn-sm">{% translate 'Delete' %}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
