{% extends 'base.html' %}
{% load i18n %}

{% block header %}

    <h1>{% translate 'Viewing a task' %}</h1>

{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-light">
            <h5 class="card-title">{{ task.name }}</h5>
        </div>
        <div class="card-body">
            <pre class="card-text">{{ task.description }}</pre>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span class="badge bg-secondary">{% translate 'Author' %}:</span> {{ task.creator }}
            </li>
            <li class="list-group-item">
                <span class="badge bg-secondary">{% translate 'Executor' %}:</span> {{ task.executor }}
            </li>
            <li class="list-group-item">
                <span class="badge bg-secondary">{% translate 'Status' %}:</span> {{ task.status }}
            </li>
            <li class="list-group-item">
                <span class="badge bg-secondary">{% translate 'Date and time of creation' %}:</span> {{ task.created_at }}
            </li>
            <li class="list-group-item">
                <span class="badge bg-secondary">{% translate 'Labels' %}:</span>
                <ul>
                    {% for label in task.labels.all %}
                    <li>{{ label.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <div class="card-footer bg-light">
            <a href="{% url 'task_update' task.id %}" class="btn btn-primary">{% translate 'Update' %}</a>
            <a href="{% url 'task_delete' task.id %}" class="btn btn-danger">{% translate 'Delete' %}</a>
        </div>
    </div>
</div>
{% endblock %}
